@mixin head {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

@mixin alias {
    font-family: $lato;
    font-size: $medium;
    font-weight: $bold;
}

@mixin interlineation {
    font-family: $lato;
    font-size: $small;
    font-weight: $regular;
}

@mixin caption {
    font-family: $lato;
    font-size: $medium;
    font-weight: $normal;
}

@mixin statics {
    font-family: $lato;
    font-size: $big;
    font-weight: $bold;
}

@mixin gradient {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: $gradient_orange;
}

@mixin gradient-purple-text {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: $gradient_purple;
}

@mixin logo {
    height: 4em;
    width: 4em;
    padding: 1em;
    border: 0px none;
    border-radius: 20%;
                
}

@mixin gradient-purple {
    color: transparent;
    background-image: $gradient_purple;
}

@mixin gradient-green {
    color: transparent;
    background-image: $gradient_green;
}

@mixin gradient-yellow {
    color: transparent;
    background-image: $gradient_yellow;
}

@mixin gradient-blue {
    color: transparent;
    background-image: $gradient_blue;
}

@mixin gradient-sky{
    color: transparent;
    background-image: $gradient_sky;
}

@mixin gradient-gold {
    color: transparent;
    background-image: $gradient_gold;
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    } 
} 