$white: #FFFFFF;
$soft_red: #fd7858;
$dark_red: #7d1a02;
$black: #0000;
$grey: #BFBFBF;
$gradient_orange: linear-gradient(to top,#FD5372,#fa8a74);
$gradient_pink: linear-gradient(to left,#FEBAC6,#FD6F8C);

// font

$lato: 'Lato';

$regular: 400;
$normal: 700;
$bold: 900;

$big: calc(10px + 0.5vw);
$medium: calc(8px + 0.5vw);
$small: calc(5px + 0.5vw);


//mobile

$mobile: 768px;