$white: #FFFFFF;
$soft_red: #fd7858;
$black: #0000;
$gradient_orange: linear-gradient(to top,#FD5372,#FD6465,#F47257);

// font

$lato: 'Lato';

$regular: 400;

$small: calc(10px + 0.5vw);

//mobile

$mobile: 768px;