$white: #FFFFFF;
$soft_red: #fd7858;
$dark_red: #7d1a02;
$black: #0000;
$grey: #BFBFBF;
$gradient_orange: linear-gradient(to top,#FD5372,#fa8a74);
$gradient_pink: linear-gradient(to left,#FEBAC6,#FD6F8C);
$gradient_purple: linear-gradient(to top,#705CB8,#BB80E3);
$gradient_green: linear-gradient(to top,#4CC0C3,#63E8C9);
$gradient_yellow: linear-gradient(to top,#B5727A,#F2B496);
$gradient_blue: linear-gradient(to top,#834EB9,#879AE7);
$gradient_sky: linear-gradient(to top,#528EE7,#36CCDF);
$gradient_gold: linear-gradient(to top,#F59483,#FBD589);

// font

$lato: 'Lato';
$regular: 400;
$normal: 700;
$bold: 900;

$big: calc(10px + 0.5vw);
$medium: calc(8px + 0.5vw);
$small: calc(3px + 0.5vw);


//mobile

$mobile: 768px;