.baseLayout {
    display: flex;
    flex-direction: row;
    justify-content: start;;
    flex-wrap: wrap;
    width: 94%;
    height: 100%;
}

// .header {
//     margin-left: 6%;
// }

// .nav {
//     margin-top: -154px;
// }

.aside {
    margin-top: -845.5px;
    margin-left: 1230px;
}