.baseLayout {
    display: flex;
    flex-direction: row;
    justify-content: start;;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;

    @include mobile;
    
}

.aside{
    margin-left: 66.5em;
    background: green;

}