.header {
    max-width: 100%;
    height: calc(150px + 1vh);
    background: blue;

    &__head {
      .header__menu {
        @include head;
        flex: auto;
        margin: 0;

        .header__item {
          width: 4em;
          height: 4.8em;
          border-right: 1px $black;
        }

        .header__sign {
          padding: 1em;
          margin-top: 1em;
        }
      }

      .form-search {
        margin: 1em 9em;
        padding: 0.3em 2em;
        display: inline-block;
        border: 1px solid;
        border-radius: 30%;
      }
     
      .form-search input {
        all: unset;
        padding: 5px 0 5px 25px;
        background: url('http://3.bp.blogspot.com/-4w14hQHr5yQ/Tgm6u7KwUkI/AAAAAAAACAI/Hu2poBOPx3g/s25/search.png') no-repeat scroll 0 50%; 
      }

      @include head;
    }
}
