.main {
    @include mobile {
        flex-wrap: wrap;
        flex-direction: column;
        background-color: $soft_red;
    }
    width: 100%;
    background: $grey;
}

//indicators

.indicators {
    @include mobile {
        flex-wrap: nowrap;
        flex-direction: row;
        @include gradient;
    }

    flex-wrap: nowrap;
    @include head;
    
//diagram

    .diagram {
        @include head;
        @include mobile {
            display: flex;
            flex-wrap: nowrap;
            overflow: scroll;
            width: 90%;
            margin: 0.5em;
        }

        margin: 0.5em 0.5em 0.5em 2.7em;
        width: 70%;
        background: url(../img/backgrounds/diagrams.png) no-repeat bottom;
        background-color: $white;
        &__title {
            @include caption;
            margin: 2.5em 1em 0;
            color: #767676;
        }

        &__buttons {
            @include head;
            margin: 1em 1em 0;
            padding-bottom: 12em;
            flex-direction: row;
            align-items: flex-end;

            .diagram__button {
                @include caption;
                margin: 0.5em;
                border-radius: 20px;
                border-color: #fd7858;
                background-color: $white;

                .diagram__text {
                    @include caption;
                    color: $grey;
                }
            }

            .diagram__button:hover {
                background: $gradient_orange;
            }   

        } 
    }

//index
    .index {
        @include mobile {
            width: 90%;
            margin: 0.5em;
        }

        display: flex;
        flex-direction: column;
        margin: 0.5em;
        width: 20%;
        background: url(../img/backgrounds/result.png) no-repeat center;
        background-color: $white;

        &__title {
            @include mobile {
                margin: 0 auto 5em;
            }

            @include caption;
            padding: 2em 2em 5.6em;
            color: #767676;
        }

        .index__result {
            @include mobile {
                margin: 0 auto;
            }
            @include interlineation;
            padding: 5em 4em 3em 5em;
            color: $grey;
        }
    }
}

//company
.company {
    @include head;
    @include mobile {
        flex-direction: column;
    }
}
//customers 
    .customers {
        @include mobile {
            width: 80%;
            margin: 0 auto;
        }

        display: flex;
        flex-direction: column;
       
        width: 45%;
        margin: 1em 1em 1em 2.7em;
        background-color: $white;

        .title__customers {
            @include caption;
            margin: 2em 2em 1em;
        }

        .customers__feed {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            flex-wrap: nowrap;

            .person__avatar {
                @include mobile {
                    width: 9%;
                }
                @include interlineation;
                flex-direction: column;
                flex-wrap: wrap;
                margin: 2em 0em 1em 3em;
                width: 10%;  
                color: $grey;
            }

            .person__photo {
                @include mobile{
                    border: 1px none;
                    border-radius: 50%;
                }
            }

            .person__text {
                @include mobile {
                    width: 70%;
                    margin-left: 4em;
                }
                @include interlineation;
                margin: 3em 2em;
                padding: 1em;
                width: 90%;
                border: 1px solid #F1F1F1;
                background-color: #FCFCFC;
                color: $grey;

                .name {
                    color: #777777;
                }
            }
        }
        .customers__text {
            flex-wrap:wrap;
            flex-direction: column;
            margin-left: 4em;
            border-left: 3px solid #F1F1F1;

            .sophie__text {
                @include interlineation;
                padding: 1em;
                margin: 2em 2em;
                width: 90%;
                border: 1px solid #F1F1F1;
                background-color: #FCFCFC;
                color: $grey;

                .name {
                    color: #777777;
                }
            }
        }

    }

    .project {
        flex-direction: column;
        margin-top: 1em;
        width: 45%;
        background-color: $grey;
        @include mobile {
            width: 90%;
            margin: 1em;
        }
        
        .project__tasks {
            display: flex;
            flex-direction: column;
            background-color: $white;

            .project__task-checkbox-element {
                padding: 1em;
                margin-right: 2em;
                border-top: 1px solid #ededed;

                .project__task-checkbox-title {
                    @include statics;
                    font-size: 15px;
                    color: $soft_red;
                }

                .project__task-checkbox-text {
                    @include interlineation ;
                    color: #bfbfbf;
                }

                .project__task-checkbox-time {
                    @include interlineation;
                    padding-left: 1.5em;
                    color: #9C9C9C;
                }
            }
        }

        .project__value {
            display: flex;
            flex-direction: row;
            background-color: $grey;

            .progress {
                @include mobile {
                    width: 90%;
                    margin: 0.5em;
                }
        
                display: flex;
                flex-direction: column;
                margin-top: 0.5em;
                width: 50%;
                background-color: $white;
        
                &__title {
                    @include mobile {
                        margin: 0 auto 5em;
                    }
        
                    @include caption;
                    padding: 2em 5em 4em;
                    color: #767676;
                }

                .progress__value {
                    @include statics;
                    @include gradient-purple-text;
                    margin: 1em 4em 0;
                }
        
                .project__result {
                    @include mobile {
                        margin: 0 auto;
                    }
        
                    padding: 3.1em 6em 0.5em;
                    @include interlineation;
                    color: $grey;
                }
            }

            .shipments {
                @include mobile {
                    width: 90%;
                    margin: 0.5em;
                }
        
                display: flex;
                flex-direction: column;
                margin: 0.5em;
                width: 50%;
                background-color: $white;
        
                &__title {
                    @include mobile {
                        margin: 0 auto 5em;
                    }
        
                    @include caption;
                    padding: 2em 5em 4em;
                    color: #767676;
                }
                
                .shipments__value {
                    @include statics;
                    @include gradient;
                    margin: 1em 4em 0;
                }
        
                .shipments__result {
                    @include mobile {
                        margin: 0 auto;
                    }
                    @include interlineation;
                    padding: 3.1em 6em 0.5em;
                    color: $grey;
                }

            }
            
        }


    

 
}